body{
    background-color: rgb(102, 171, 180);
    color: white;
    font-family: system-ui, -apple-system, 
    BlinkMacSystemFont, 'Segoe UI', Roboto, 
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 
    'Helvetica Neue', sans-serif;
    display: flex;  
    flex-direction: column; 
    align-items: center;
    text-align: center;
}

img{
    width: 400px;
    border: 2px solid;
    margin: 20px 0;
    
    
}
ul{
    list-style: none;
    padding: 0;
}
li{
    border: 2px solid white;
    width: 300px;
    padding: 15px;
    border-radius: 10px;
    margin: 10px 0;
}
a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
p{
    font-size: 20px;
    margin-bottom: 20px;  
}
li:hover{
    background-color: white;
    
}
li:hover a{
    color: rgb(102, 171, 180); 
}
